.container-btn {
    display: flex;
    justify-content: center;
  }
  
.btn {
    background-color: transparent;
    width: 17rem;
    height: 5rem;
    display: block;
    color: var(--button-text-color-secondary);
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 5rem;
  
    &:hover {
      background-color: var(--primary-color-accent);
      color: var(--button-text-color);
      cursor: pointer
    }
  
  }