:root {
    --border-radius: 0.3rem;
    --primary-color: #0070E1;
    --primary-color-accent: #005DBB;
    --button-text-color: #fff;
    --button-text-color-secondary: black;
    --padding-top: 5rem;
    --max-width-login-form-mobile: 50rem;
    --max-width-login-form-desktop: 55rem;
    --bg-color-login-form: #fff;
    --height-btn-mobile: 5rem;
    --color-switch-on: #0070E1;
    --color-switch-off: #D8D8D8;
    --color-switch-off-accent: #B1B1B1;
}