.container {
  display: flex;
  flex-direction: column;
  align-items: center;    
  padding-top: var(--padding-top);
}

.login-form {
  max-width: var(--max-width-login-form-mobile);
  width: 90%;
}

.login-fields {  
  background-color: var(--bg-color-login-form);
  margin-top: var(--padding-top);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 2rem 3rem 0.1rem 2rem;
}
    

@media (min-width: 960px) {

  .login-fields {
    padding: 6rem 4rem;
    border-radius: var(--border-radius);
  }

  .login-form {
    max-width: var(--max-width-login-form-desktop);
  }

}
  
  

