<div class = "container animated">    

    <app-logo *ngIf="smallScreen"></app-logo>

    <form class        = "login-form animated" 
          autocomplete = "off"
          [formGroup]  = "loginForm"
          (ngSubmit)   = "login()">

        <div class="login-fields">

            <app-title *ngIf ="!smallScreen"></app-title>

            <app-material-input label = "Email"
                                icon  = "bi bi-person"
                                name  = "email"></app-material-input>

            <div error-msg [message] = "errorMsgEmail"
                           [valid]   = "!hasError('email')">
            </div>                                

            <app-material-input type  = "password"
                                label = "Contraseña"
                                icon  = "bi bi-shield-lock"
                                name  = "password"></app-material-input>

            <div error-msg message = "La contraseña debe tener al menos cinco caracteres."
                           [valid] = "!hasError('password')">
            </div>                                 

            <app-toggle-switch label = "Recordar"
                               name  = "remindMe"></app-toggle-switch>

            <app-btn-desktop *ngIf = "!smallScreen"></app-btn-desktop>

        </div>

        <app-btn-mobile *ngIf="smallScreen"></app-btn-mobile>

    </form>
    
</div>
