@import './app/shared/css/_global_variables';

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;    
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;    
}

h3 {
    font-size: 3rem;
}

html, body { 
    height: 100%; 
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none;
}

.form-text {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}


.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;  
  }
  
  @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }